<div class="h1 text-center">
  <%= story.title %>

    <small class="h6 text-muted">Author: <%= story.user.displayName %></small>
</div>
<div class="fs-5 col-lg-10 p-3 my-4 mx-auto border">

  <%-story.body-%>

</div>

<div class="text-center">
  <a href="/dashboard" class="btn btn-primary btn-lg px-4">Dashboard</a>
</div>