<h3><i class="fa fa-book-reader px-3"></i>StoryBooks</h3>
<div class="section">
  <p class="lead">Create public and private stories from your life</p>
</div>

<div class="divider"></div>
<a href="/auth/google" class="btn btn-danger">
  <i class="fab fa-google mx-3"></i> Login with Google
</a>